<div class="authorization">
  <div class="title">{{i18n 'discord.authorization.title'}}</div>

  <div class='buttons'>
    {{d-button label="discord.authorization.authorize" action="authorize"}}
    {{d-button label="discord.job.start" action="startJob" actionParam="sync_trust_level_with_role" disabled=syncEnabled}}
    {{d-button label="discord.job.clear" action="clearLogs"}}
    {{#if startingJob}}
      {{loading-spinner size="small"}}
    {{else}}
      {{#if jobStarted}}
        {{i18n 'discord.job.started'}}
      {{/if}}
    {{/if}}
  </div>
</div>

<div class="jobs">
  <div class="list">
    <div class="subtitle">{{i18n 'discord.job.list'}}</div>

    {{#if model.logs}}
      {{#each model.logs as |log|}}
        <div class="job">
          {{{i18n 'discord.job.completed' name=(i18n 'discord.job.sync.title' trust_level=log.trust_level role=log.role) completed_at=(raw-date log.completed_at format="medium")}}}
          <div class="users">
            {{#if log.add_users}}
              <div>{{i18n 'discord.job.sync.users_added'}}</div>
              <ul>
                {{#each log.add_users as |username|}}
                  <li>{{username}}</li>
                {{/each}}
              </ul>
            {{/if}}
            {{#if log.remove_users}}
              <div>{{i18n 'discord.job.sync.users_removed'}}</div>
              <ul>
                {{#each log.remove_users as |username|}}
                  <li>{{username}}</li>
                {{/each}}
              </ul>
            {{/if}}
          </div>
        </div>
      {{/each}}
    {{else}}
      {{i18n 'discord.job.none'}}
    {{/if}}
  </div>
</div>
